/* Футер */
.footer {
    background: #111;
    color: #fff;
    padding: 51px 0;
    text-align: center;
  }
  
  .footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: opacity 0.3s;
  }
  
  .footer .social-icons a img {
    width: 30px;
  }
  
  .nav-link.active::after {
    opacity: 1;
  }

  